
.container {
  width: 263px;
  height: 379px;
  padding: 0 0 15px;
  border-radius: 6px;
  background-color: #FFF;
  &:hover {
    cursor: pointer;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 6px 10px 0 rgba(0, 0, 0, 0.14);
  }
}


.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 210px;
  padding: 10px 15px 15px;
}

.content {
  display: flex;
  flex-flow: column nowrap;
}


.title {
  font-weight: bold;
  color: #222;
  margin-bottom: 10px;
  word-wrap: break-word;
  max-height: 43px;
  /* 標題超過兩行自動出現... (IE不支援)*/
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
